@use 'variables' as v;
@use 'mixins'as m;

.about-section {
    padding: 140px 0 0 0;

    .about {
        margin: 0 auto;
        @include m.d-flex(start, center, nowrap, column, 0, 130px);

        &__quality {
            width: 100%;
            height: 400px;
            padding: 0 0 0 15px;
            background: url(../assets/img/desktop.webp) 90% 100%/contain no-repeat;

            &-title {
                @include m.font(45px, 400, v.$color__white)
            }

            &-desc {
                margin: 10px 0 0 0;
                max-width: 590px;
                @include m.font(20px, 300, v.$color__white)
            }

            @media (max-width: v.$media_xl) {
                    background: linear-gradient(180deg, rgba(103,143,242,1) 0%, rgba(103,143,242,0) 74%),
                    url(../assets/img/desktop.webp) 90% 45px/500px no-repeat;
            }

            @media (max-width: v.$media_md) {
                &-title {
                    @include m.font(35px, 400, v.$color__white)
                }
    
                &-desc {
                    max-width: 500px;
                    @include m.font(16px, 300, v.$color__white)
                }
    
                    background: url(../assets/img/desktop.webp) 99% 100% / 450px no-repeat;
            }

            @media (max-width: v.$media_sm) {
                &-desc {
                    max-width: 320px;
                }

                background: url(../assets/img/desktop.webp) 185px 100% / 450px no-repeat;
        }
    }

    &__touch {
        width: 100%;
        height: 500px;
        padding: 0 15px 0 0;
        @include m.d-flex(end,end,nowrap,column, 0, 20px);
        position: relative;

        &::before {
            content: "";
            @include m.position(absolute, -1, -1, top, left, 0px, -500px);
            width: 90%;
            height: 100%;
            background: url(../assets/img/phone.webp) 0 0 / contain no-repeat;
            rotate:z 15deg;
        }

        &-title {
            @include m.font(45px, 400, v.$color__white)
        }

        &-desc {
            text-align: right;
            max-width: 480px;
            line-height: 1.4;
            @include m.font(20px, 300, v.$color__white)
        }

        @media (max-width: v.$media_xl) {
            &::before {
                @include m.position(absolute, -1, -1,top, left, 0, -360px)
            }
        }

        @media (max-width: v.$media_lg) {
            &::before {
                @include m.position(absolute, -1, -1,top, left, 0, -290px)
            }
        }

        @media (max-width: v.$media_md) {
            height: 400px;
            &::before {
                @include m.position(absolute, -1, -1,top, left, 0, -260px)
            }

            &-title {
                @include m.font(35px, 400, v.$color__white);
                @include m.position(absolute, -1, -1, top, right, 50px, 20px);
            }
    
            &-desc {
                text-align: right;
                max-width: 350px;
                line-height: 1;
                @include m.font(16px, 300, v.$color__white);
                @include m.position(absolute, -1, -1, top, right, 100px, 20px);
            }
    
        }

        @media (max-width: v.$media_sm) {
            &::before {
                @include m.position(absolute, -1, -1,top, left, 90px, -190px);
                rotate:z 55deg;
            }
        }

        @media (max-width: v.$media_min) {
            &::before {
                @include m.position(absolute, -1, -1,top, left, 100px, -180px);
                rotate:z 55deg;
            }
            &-title {
                @include m.font(35px, 400, v.$color__white);
                @include m.position(absolute, -1, -1, top, right, 40px, 20px);
            }
    
            &-desc {
                text-align: right;
                max-width: 350px;
                line-height: 1;
                @include m.font(16px, 300, v.$color__white);
                @include m.position(absolute, -1, -1, top, right, 100px, 20px);
            }
        }
        
    }

    &__approach {
        width: 100%;
        height: 800px;
        padding: 0 0 0 15px;
        background: url(../assets/img/cactus.webp) 100% 105%/contain no-repeat;

        &-title {
            @include m.font(45px, 400, v.$color__white)
        }

        &-desc {
            margin: 10px 0 0 0;
            max-width: 730px;
            @include m.font(20px, 300, v.$color__white)
        }

        @media (max-width: v.$media_lg) {
            background: url(../assets/img/cactus.webp) 130% 110%/contain no-repeat;
            &-desc {
                max-width: 400px;
            }
        }
        @media (max-width: v.$media_md) {
            background: url(../assets/img/cactus.webp) 100% 100%/250px no-repeat;
            &-title {
                margin: 0 0 0 0;
                @include m.font(35px, 400, v.$color__white)
            }
    
            &-desc {
                margin: 10px 0 0 0;
                max-width: 400px;
                @include m.font(16px, 300, v.$color__white)
            }
            
             height: 400px;
        }
        @media (max-width: v.$media_sm) {
            background: url(../assets/img/cactus.webp) 100% 100%/250px no-repeat;
            &-title {
                margin: 0 0 0 0;
                @include m.font(35px, 400, v.$color__white)
            }
    
            &-desc {
                margin: 10px 0 0 10px;
                max-width: 400px;
                @include m.font(16px, 300, v.$color__white)
            }
            
             height: 500px;
        }
        
    }
}
}