@use 'variables' as v;

%hover-black {
    &:hover {
        cursor: pointer;
        color: v.$color__black;
    }
}

%hover-black-icon {
    &:hover {
        cursor: pointer;
        fill: v.$color__black;
    }
}

%hover-white-icon {
    &:hover {
        cursor: pointer;
        color: v.$color__white;
    }
}
