// $color__blue: #678FF2;
$color__blue: #4a68b5;
$color__white: #fff;
$color__black: #000;

$media_xxl: 1400px;
$media_xl: 1200px;
$media_lgx:1050px;
$media_lg: 992px;
$media_md: 768px;
$media_sm: 576px;
$media_min: 428px;
